<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ $Id$
  ~ $Revision$
  ~ $Date$
  ~ $Author$
  ~
  ~ The DOMS project.
  ~ Copyright (C) 2007-2010  The State and University Library
  ~
  ~ Licensed to the Apache Software Foundation (ASF) under one
  ~ or more contributor license agreements.  See the NOTICE file
  ~ distributed with this work for additional information
  ~ regarding copyright ownership.  The ASF licenses this file
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License.  You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <listener>
        <listener-class>
            dk.statsbiblioteket.doms.webservices.ConfigContextListener
        </listener-class>
    </listener>

    <listener>
        <listener-class>
            com.sun.xml.ws.transport.http.servlet.WSServletContextListener
        </listener-class>
    </listener>

    <filter>
        <display-name>AuthFilter</display-name>
        <filter-name>AuthFilter</filter-name>
        <filter-class>dk.statsbiblioteket.doms.webservices.AuthFilter
        </filter-class>
        <init-param>
            <param-name>Realm name</param-name>
            <param-value>Bitstorage</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <servlet-name>WSServlet</servlet-name>
    </filter-mapping>


    <context-param>
        <description>The location of the WSDL for the characterisation service
            to be used by the highlevel service
        </description>
        <param-name>
            dk.statsbiblioteket.doms.bitstorage.highlevel.characteriserlocation
        </param-name>
        <param-value>http://localhost:8080/characteriser/characterise/?wsdl
        </param-value>
    </context-param>

    <context-param>
        <description>The location of the WSDL for the lowlevel service
            to be used by the highlevel service
        </description>
        <param-name>
            dk.statsbiblioteket.doms.bitstorage.highlevel.lowlevellocation
        </param-name>
        <param-value>http://localhost:8080/lowlevelbitstorage/lowlevel/?wsdl
        </param-value>
    </context-param>

    <context-param>
        <description>The fedora server host</description>
        <param-name>dk.statsbiblioteket.doms.bitstorage.highlevel.fedora.server
        </param-name>
        <param-value>localhost</param-value>
    </context-param>

    <context-param>
        <description>The fedora server port</description>
        <param-name>dk.statsbiblioteket.doms.bitstorage.highlevel.fedora.port
        </param-name>
        <param-value>7910</param-value>
    </context-param>

    <context-param>
        <description>The name of the datastream to store characterisation
            information in
        </description>
        <param-name>
            dk.statsbiblioteket.doms.bitstorage.highlevel.fedora.characstream
        </param-name>
        <param-value>CHARACTERISATION</param-value>
    </context-param>

    <context-param>
        <description>The name of the datastream to store the reference to the
            datafile in
        </description>
        <param-name>
            dk.statsbiblioteket.doms.bitstorage.highlevel.fedora.contentstream
        </param-name>
        <param-value>CONTENTS</param-value>
    </context-param>


    <servlet>
        <description>JAX-WS endpoint</description>
        <display-name>WSServlet</display-name>
        <servlet-name>WSServlet</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet
        </servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>WSServlet</servlet-name>
        <url-pattern>/highlevel/*</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>URL provider</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer
        </servlet-class>
        <init-param>
            <param-name>com.sun.jersey.config.property.packages</param-name>
            <param-value>dk.statsbiblioteket.doms.bitstorage.highlevel
            </param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>URL provider</servlet-name>
        <url-pattern>/URLprovider/*</url-pattern>
    </servlet-mapping>


    <!--Below here is the surveilance-->

    <servlet>
        <servlet-name>Highlevel Bitstorage Log Surveillance</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer
        </servlet-class>
        <init-param>
            <param-name>com.sun.jersey.config.property.packages</param-name>
            <param-value>dk.statsbiblioteket.doms.surveillance.rest
            </param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>Highlevel Bitstorage Log Surveillance</servlet-name>
        <url-pattern>/highlevelbitstoragelogsurveillanceservice/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Highlevel Bitstorage Real Time Surveillance</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer
        </servlet-class>
        <init-param>
            <param-name>com.sun.jersey.config.property.packages</param-name>
            <param-value>
                dk.statsbiblioteket.doms.bitstorage.highlevel.surveillance
            </param-value>
        </init-param>
        <init-param>
            <param-name>dk.statsbiblioteket.doms.bitstorage.highlevel.location
            </param-name>
            <param-value>
                http://localhost:8080/highlevelbitstorage/highlevel/?wsdl
            </param-value>
        </init-param>
        <init-param>
            <param-name>
                dk.statsbiblioteket.doms.bitstorage.highlevel.preferredBytesLeft
            </param-name>
            <param-value>1000000
            </param-value>
        </init-param>
        <init-param>
            <param-name>
                dk.statsbiblioteket.doms.bitstorage.highlevel.requiredBytesLeft
            </param-name>
            <param-value>100000
            </param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>Highlevel Bitstorage Real Time Surveillance</servlet-name>
        <url-pattern>/highlevelbitstoragerealtimesurveillanceservice/*
        </url-pattern>
    </servlet-mapping>

</web-app>
