<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ $Id$
  ~ $Revision$
  ~ $Date$
  ~ $Author$
  ~
  ~ The DOMS project.
  ~ Copyright (C) 2007-2010  The State and University Library
  ~
  ~ Licensed to the Apache Software Foundation (ASF) under one
  ~ or more contributor license agreements.  See the NOTICE file
  ~ distributed with this work for additional information
  ~ regarding copyright ownership.  The ASF licenses this file
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License.  You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <listener>
        <listener-class>
            dk.statsbiblioteket.doms.webservices.ConfigContextListener
        </listener-class>
    </listener>

    <listener>
        <listener-class>
            com.sun.xml.ws.transport.http.servlet.WSServletContextListener
        </listener-class>
    </listener>

    <context-param>
        <description>The prefix to add to the filename to get the URL
        </description>
        <param-name>dk.statsbiblioteket.doms.bitstorage.lowlevel.bitfinder
        </param-name>
        <param-value>http://bitfinder.statsbiblioteket.dk/</param-value>
    </context-param>

    <context-param>
        <description>
            The interval in ms between checking if a file has become unlocked,
            default 1 sec
        </description>
        <param-name>
            dk.statsbiblioteket.doms.bitstorage.lowlevel.locking.pollInterval
        </param-name>
        <param-value>1000</param-value>
    </context-param>

    <context-param>
        <description>
            The total time to wait for a file to become unlocked, in ms. Default
            10 min
        </description>
        <param-name>dk.statsbiblioteket.doms.bitstorage.lowlevel.locking.timeout
        </param-name>
        <param-value>600000</param-value>
    </context-param>

    <context-param>
        <description>This is the command to invoke to use the script
        </description>
        <param-name>
            dk.statsbiblioteket.doms.bitstorage.lowlevel.scriptimpl.Script
        </param-name>
        <param-value>ssh doms@stage01 bin/server.sh
        </param-value>
    </context-param>

    <context-param>
        <description>The surveilance system cannot read it's own location, so it
            must have it as a parameter
        </description>
        <param-name>dk.statsbiblioteket.doms.bitstorage.lowlevel.location
        </param-name>
        <param-value>http://localhost:8080/lowlevelbitstorage/lowlevel/?wsdl
        </param-value>
    </context-param>
    <context-param>
        <description>The preferred number of bytes that must be left in the
            bitstorage
        </description>
        <param-name>
            dk.statsbiblioteket.doms.bitstorage.lowlevel.preferredBytesLeft
        </param-name>
        <param-value>1000000
        </param-value>
    </context-param>
    <context-param>
        <description>The required number of bytes that must be left
        </description>
        <param-name>
            dk.statsbiblioteket.doms.bitstorage.lowlevel.requiredBytesLeft
        </param-name>
        <param-value>100000
        </param-value>
    </context-param>

    <context-param>
        <description>The class that will be exposed for surveillance
        </description>
        <param-name>
            dk.statsbiblioteket.doms.domsutil.surveyable.surveyables
        </param-name>
        <param-value>
            dk.statsbiblioteket.doms.bitstorage.lowlevel.surveillance.RealTimeService
        </param-value>
    </context-param>

    <servlet>
        <description>JAX-WS endpoint</description>
        <display-name>WSServlet</display-name>
        <servlet-name>WSServlet</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet
        </servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>WSServlet</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
</web-app>
