<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <listener>
        <listener-class>
            com.sun.xml.ws.transport.http.servlet.WSServletContextListener
        </listener-class>
    </listener>
    <context-param>
        <param-name>script</param-name>
        <param-value>bin/server.sh</param-value>
    </context-param>
    <context-param>
        <param-name>server</param-name>
        <param-value>domstest@halley</param-value>
    </context-param>
    <context-param>
        <param-name>bitfinder</param-name>
        <param-value>http://bitfinder.statsbiblioteket.dk/</param-value>
    </context-param>

    <servlet>
        <description>JAX-WS endpoint</description>
        <display-name>WSServlet</display-name>
        <servlet-name>WSServlet</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>WSServlet</servlet-name>
        <url-pattern>/lowlevel/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Lowlevel Bitstorage Log Surveillance</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer
        </servlet-class>
        <init-param>
            <param-name>com.sun.jersey.config.property.packages</param-name>
            <param-value>dk.statsbiblioteket.doms.surveillance.rest
            </param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>Lowlevel Bitstorage Log Surveillance</servlet-name>
        <url-pattern>/lowlevelbitstoragelogsurveillanceservice/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Lowlevel Bitstorage Real Time Surveillance</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer
        </servlet-class>
        <init-param>
            <param-name>com.sun.jersey.config.property.packages</param-name>
            <param-value>dk.statsbiblioteket.doms.bitstorage.lowlevel.surveillance
            </param-value>
        </init-param>
        <init-param>
            <param-name>dk.statsbiblioteket.doms.bitstorage.lowlevel.location
            </param-name>
            <param-value>http://localhost:8080/lowlevelbitstorage/lowlevel/?wsdl
            </param-value>
        </init-param>
        <init-param>
            <param-name>dk.statsbiblioteket.doms.bitstorage.lowlevel.preferredBytesLeft
            </param-name>
            <param-value>1000000
            </param-value>
        </init-param>
        <init-param>                                                                                  
            <param-name>dk.statsbiblioteket.doms.bitstorage.lowlevel.requiredBytesLeft
            </param-name>
            <param-value>100000
            </param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>Lowlevel Bitstorage Real Time Surveillance</servlet-name>
        <url-pattern>/lowlevelbitstoragerealtimesurveillanceservice/*</url-pattern>
    </servlet-mapping>
    
</web-app>
